.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(243, 203, 209);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.navbar {
    display: flex;
    gap: 20px;
}

.navbar a{
    font-size: 1.1rem;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-right: 40px;
}

.navbar a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.center {
    display: flex;
    flex-direction:column;
    margin: 0vh 20vw;
    margin-top: 90px;
}

/* back button styling reference: https://www.w3schools.com/howto/howto_css_next_prev.asp */
a {
    text-decoration: none;
    color: black;
}
  
a:hover {
    font-weight: bold;
    text-decoration: underline;
}
  

h1 {
    font-size: 3rem;
}

.collabs{
    display:inline-block;
    font-size:1.25rem;
    color: slategrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
   
}

.full-img {
    position: relative;
    display: block;
    
}
  
.displayed-img {
    position: relative;
    display: block;
    /* center main image */
    margin-left: auto;
    margin-right: auto;
    height: auto;
    /* resize main image */
    max-width: 100%;
}

.thumb-bar img {
    display: block;
    width: 20%;
    height: 90px;
    float: left;
    cursor: pointer;
  }

.collabs {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}