/* header styling */
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(243, 203, 209);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

/* navbar styling */
.navbar {
    display: flex;
    gap: 20px; /* space between the navbar items */
}

.navbar a{
    font-size: 1.1rem;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-right: 40px;
}

.navbar a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#projects{
    display: flex;
    flex-direction:column;
    margin: 0vh 20vw;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 100px;
}

.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0vh 20vw;
    gap: 20px;
}

.headshot img {
    border-radius: 50%; /* circle-crop headshot */
    width: 220px;
    height: 220px;
    object-fit: cover;
}

/* font-sizes for each h tag used */
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/* font type for each section */
.abstract, .about-me p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.634);
}

.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}
  
.description{
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
    padding-left:45px;
    width:38vw;
}

.subtitle {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
}

.pt-serif-bold-italic, .pronouns{
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem;
}
  
#projects a{
    text-decoration:none;
    color:black;
}

.about-me a {
    text-decoration:none;
    color:blue;
}

.project:hover{
    background-color: cornsilk;
}

/* project card styling */
.project{
    display:flex;
    flex-direction:row;
    border: 1px solid black;
    margin-top: 10px;
    padding: 15px 20px;

    align-items: center;
    justify-content: center;
}

.project img{
    width:10vw;
    object-fit: contain;
}

#buttons{
    display: flex;
    justify-content: center;
}

/* project filter buttons styling */
#buttons button{
    /* referenced https://www.sliderrevolution.com/resources/css-button-hover-effects/ for clear transparent button effect */
    margin:10px;
    padding: 10px 15px;
    transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    cursor: pointer; /* cursor turns into a pointer when hovered over */
}

#buttons button:hover {
    background-color: #45a049;
}

/* footer styling */
.footer {
    /* referenced CSS from https://www.shecodes.io/athena/2240-how-to-create-a-footer-with-social-media-newsletter-and-contact#google_vignette */
    position: relative; 
    bottom: 0; 
    width: 100%; 
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
}

/* social icons */
.footer .social a{
    font-size: 40px; /* increase the size of the social icons */
    color: darkgrey;
    width: 50px;
    height: 50px;

    margin: 0px 10px;
}