#projects{
    display: flex;
    flex-direction:column;
    margin: 10vh 20vw;
}


.abstract {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.634);
}

.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}
  
.description {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
    padding-left:45px;
    width:38vw;
}

.subtitle {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
}

.pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
}
  

#projects a{
    text-decoration:none;
    color:black;
}

.project:hover{
    background-color: cornsilk;
}

.project{
    display:flex;
    flex-direction:row;
    border: 1px solid black;
    margin-top:10px;
    padding: 15px 20px;

    align-items: center;
    justify-content: center;
}

.project img{
    width:10vw;
    object-fit: contain;
}

#buttons{
    display:flex;
    justify-content: center;
}

#buttons button{
    margin:10px;
}