body {
    background-image: url("/img/nugget_game.avif");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover; /* Resize the background image to cover the entire container */
}

.overlay {
    position: absolute;
    color: white;
}

/* Score styling */
.score {
    bottom: 10px;
    left: 0;
}

.score img {
    height: 50px;
    width: auto;
    margin-left: -15px;
}

/* Logos styling */
.nba-logo {
    position: absolute;
    bottom: 30px;
    right: 10px;
    opacity: 0.9;
}

.nba-logo img {
    height: 100px;
    width: auto;
}

.fubotv-logo {
    position: absolute;
    top: 20px;
    left: 15px;
    opacity: 0.7;
} 

.fubotv-logo img {
    height: 50px;
    width: auto;
}